#main-r{
    display: flex;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border: 2px white dotted;
    background-color: rgb(26, 29, 39);
}
#img7-r{
    width: 50%;
    height: 10%;
}
#img1-r{
    width: 50%;
    height: auto;
}

#main-r p{
    font-size: large;
}

#header-back-r{
    margin-left: 3vw;
}

#main-text-r{
    margin: auto 0;
}

#header-back-r button{
    border-radius: 100%;
    margin-left: 3vh;
    margin-top:3vh;
}